body {
	font-family: 'Helvetica Nueu', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #333;
	color: white;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.titlebar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: black;
	font-size: 36px;
	padding: 5px;
	font-weight: 700;
	text-align: center;
	color: white;
}

.display {
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0
}

.frame {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 40px;
	overflow: hidden;
}

.image {
	height: 50%;
	width: 40%;
	position: relative;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}
.small-block {
	height: 50%;
	width: 20%;
	display: inline-block;
}
.small-block .image {
	height: 50%;
	width: 100%;
}
.block {
	height: 50%;
	width: 40%;
	display: inline-block;
}
.block .image {
	height: 50%;
	width: 50%;
}

.image img {
	width: 100%;
	height: auto;
	display: inline-block;
}

.likes {
	position: absolute;
	bottom: 10px;
	left:10px;
	font-size: 12px;
	font-weight: bold;
}
.twitter-holder {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.city {
	-webkit-font-smoothing: antialiased;
	font-family: 'Kite One', sans-serif;
	border: 0px;	
	border-bottom: 1px solid white;
	font-size: 36px;
	background: black;
	color: white;
	width: 300px;
	text-align: center;
}

.city:focus {
	outline: none;
}

.infobox {
	position: absolute;
	background: #94CCFF;
	top: 90px;
	left: 50%;
	color: white;
	font-size: 20px;
	font-weight: 100;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.infocontent {
	position: relative;
	padding: 12px;
}

.arrow {
	position: absolute;
	border-color: transparent transparent #8BC3F6 transparent;
	border-style:solid;
	border-width:15px;
	width:0;
	height:0;
	top: -30px;
	left: 10px;
}
